
<% if current_user.current_account.present? %>
	<h1><%= image_tag "home.jpg", size: "120x80" %><b>   Welcome to <%= current_user.current_account.account_name %></b></h1>
<% else %>
	<h1><%= image_tag "home.jpg", size: "120x80" %><b>   Welcome to Koredet</b></h1>	
<% end %>	


<% if current_user.current_account.present? %>


	<% if @item_type_count == 0 %>
		<li><%= link_to "No item types defined, go to item type" , :item_types    %></li>
	<% end %>	

	<% if @location_count == 0 %>
		<li><%= link_to "No location defined, go to locations" , :locations    %></li>
	<% end %>	

	<% if @transaction_types.count == 0 %>
		<li><%= link_to "No transaction types defined, goto transaction_types types" , :transaction_types    %></li>
	<% end %>	



	<% if  @item_type_count == 0 || @location_count == 0 || @transaction_types.count == 0 %>
		<h4><%= link_to "You can also use the account setup wizard" , account_setup_index_path	 %></h4>
	<% end %>	


	<% @transaction_types.each do |t| %>
    	<%= link_to t.name, new_cart_path(:transaction_type_id => t.id), class: "btn btn-primary",:style=>'color:#FFFFFF;'%>
	<% end %>
<% else %>
	<h3><%= link_to 'Go to User Profile', user_profiles_path %></h3>
<% end %>	

<p></p>


