<p id="notice"><%= notice %></p>

<h1>Movement Types</h1>

<table  class="table table-striped", style="width: auto; height: auto">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>From location</th>
      <th>To location</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @transaction_types.each do |transaction_type| %>
      <tr>
        <td><%= link_to transaction_type.name, transaction_type_path(transaction_type) %></td>
        <td><%= transaction_type.description %></td>
        <td><%= transaction_type.from_location.name %></td>
        <td><%= transaction_type.to_location.name %></td>
        <td><%= transaction_type.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_transaction_type_path(transaction_type) %>
          <%= link_to 'Destroy', transaction_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= button_to 'New Movement Type', new_transaction_type_path, method: :get %>
