<p id="notice"><%= notice %></p>

<h1>Movement Types</h1>

<div id="toolbar" class="btn-group">
    <button type="button" class="btn btn-default">
        <i class="glyphicon glyphicon-plus"></i>
    </button>
    <button type="button" class="btn btn-default">
        <i class="glyphicon glyphicon-share-alt"></i>
    </button>
</div>
<table data-toggle="table"
       data-url="http://localhost:3000/transaction_types.json"
       data-search="true"
       data-show-refresh="true"
       data-show-toggle="true"
       data-show-columns="true"
       data-click-to-select="true"
       data-toolbar="#toolbar"
       id="transaction_types_datatable">
    <thead>
    <tr>
        <th data-field="state" data-checkbox="true"></th>
        <th data-field="id">Id</th>
        <th data-field="name">Name</th>
        <th data-field="from_location">From location</th>
        <th data-field="to_location">To location</th>
    </tr>
    </thead>
</table>



<% if false %>
<table  class="table table-striped", style="width: auto; height: auto">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>From location</th>
      <th>To location</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @transaction_types.each do |transaction_type| %>
      <tr>
        <td><%= link_to transaction_type.name, transaction_type_path(transaction_type) %></td>
        <td><%= transaction_type.description %></td>
        <td><%= transaction_type.from_location.name %></td>
        <td><%= transaction_type.to_location.name %></td>
        <td><%= transaction_type.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_transaction_type_path(transaction_type) %>
          <%= link_to 'Destroy', transaction_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>

<%= button_to 'New Movement Type', new_transaction_type_path, method: :get %>
