<h1>Invite members</h1>

<div class="actions">
	<%= link_to 'Back', previous_wizard_path %>
</div>

<div class="actions">
	<%= button_to 'Next >>', next_wizard_path, method: :get %>
</div>


<h3>Invite members</h3>
<%= form_tag(@invitation, url: { action: "update" }, method: :put) do %>
	<%= label_tag(:email, "Email to invite") %>
	<%= text_field_tag(:email) %>
	<%= submit_tag("Invite") %>
<% end %>

<% if @invitations.count > 0 %>
	<h3>Invitations</h3>
	<table  class="table table-striped", style="width: auto; height: auto">
	  	<thead>
		    <tr>
			    <th>Email</th>
			    <th>Status</th>
			    <th>Expiry date</th>
		    </tr>
		</thead>

	  	<tbody>
			<% @invitations.each do |i| %>
			      	<tr>
					  	<td> <%= i.to_email %></td>
					  	<td> <%= i.status %></td>
			      		<td> <%= i.expiry_date %></td>
					<tr>
			<% end %>	
		 </tbody>
	</table>
<% end %>






