<h2><%= @user.email %> </h2>

<p id="notice"><%= notice %></p>

<div class="container">
  	<div class="row">
	 	<div class="col-sm-6">
			<%= render 'user_accounts' %>
			<%= render 'invitations' %>
		</div>
	    <div class="col-sm-6">
			<%= render 'user_profile_form', user: @user  %>
	    </div>
	</div>
</div>
