
<%= form_for(cart) do |f| %>
  <% if cart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cart.errors.count, "error") %> prohibited this cart from being saved:</h2>

      <ul>
      <% cart.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class =row>
    <div class="col-md-4">
      <div class="field">
        <%= f.label :from_location_id %>
        <%= f.collection_select( :from_location_id, Location.all.order(:name), :id, :name) %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="field">
        <%= f.label :to_location_id %>
        <%= f.collection_select( :to_location_id, Location.all.order(:name), :id, :name) %>
      </div>
    </div>
  </div>

  <%= f.hidden_field :process_status %>

  <% if true %>
    <div class="speech">
      <%= link_to "Speech input", '#', class: "speech_input_btn btn btn-primary btn-sm" %>
    </div>
    <br>
  <% end %>  

   <%= f.fields_for :cart_items do |builder| %>
     <%= render 'cart_item_fields', f: builder%>
  <% end %>
  <%= link_to_add_fields "Add Items", f, :cart_items %>   
  <br>
  <br>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>


<% end %>
