<p id="notice"><%= notice %></p>

<p><%= link_to "Advanced Search", new_item_search_path %></p>


<%= form_tag items_path, method: :get do %>
  <%= select_tag :item_type_id, options_from_collection_for_select(ItemType.all, :id, :name, params[:item_type_id]) %>
  <%= submit_tag "Search", name: nil %>
<% end %>
<br>

<% if params[:item_type_id].present? %>
  <%= form_tag new_item_path, method: :get do %>
    <%= hidden_field_tag :item_type_id, params[:item_type_id] %>
    <%= submit_tag "New item", name: nil %>
  <% end %>
<% end %>  


<table  class="table table-striped", style="width: auto; height: auto">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= link_to item.name, item_path(item) %></td>
        <td><%= item.description %></td>
        <td><%= item.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_item_path(item) %>
          <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %>
        <td>  
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @items %>



