<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>



<% @item.item_type.fields.each do |field| %>
    <p>
        <b>	<%=  "#{field.name}: " %></b>
    	<%= "#{@item.properties[field.name]}" %>
	</p>
<% end %>
  

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
