<h2>System console</h2>
<p id="notice"><%= notice %></p>

<div class="container">
  	<div class="row">
	 	<div class="col-sm-7">
			<%= render 'all_accounts' %>
			<%= render 'invitations' %>
			<br>
			<%= link_to 'Back', root_url %>
		</div>

	    <div class="col-sm-5">
			<%= render 'all_users', user: @user  %>
			
	    </div>
	</div>
</div>

