<p id="notice"><%= notice %></p>

<h1>Locations</h1>


<% if false %>
<table  class="table table-striped", style="width: auto; height: auto">  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Location type</th>
      <th>Parent</th>
      <th>Default Item Type</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.id %></td>
        <td><%= link_to location.name, location_path(location) %></td>
        <td><%= location.location_type %></td>
        <td><%= link_to(location.parent.name, location_path(location.parent)) if location.parent%></td>
        <td><%= location.item_type.name if location.item_type%></td>
        
        <td>
          <%= link_to 'Edit', edit_location_path(location) %>
          <%= link_to 'Add Child', new_location_path(:parent_id => location) %>
          <%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @locations %>

<%= button_to 'New Location', new_location_path, method: :get %>

<% end %>

<div class="container">
    <div class="row">
    <div class="col-sm-4">
      <form id="search_form">
        <input type="search" id="search-field" />
        <button type="submit">Search</button>
        <%= link_to "New location", new_location_path, id: "new_link",class: "btn btn-primary btn-xs", remote: true %>
      </form>

      <div id="fancytree-container"></div>
      <%= button_to "Expand/Collapse", "#", id: "expand_tree", class: "btn btn-primary btn-xs", remote: true %>
    
    </div>    
    <div class="col-sm-8">
        <div id="node_edit_area"></div>
        <div id="inventory_area"></div>
     </div>
  </div>
</div>


