<p id="notice"><%= notice %></p>

<h1>Locations</h1>

<table  class="table table-striped", style="width: auto; height: auto">  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Location type</th>
      <th>Parent</th>
      <th>Default Item Type</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.id %></td>
        <td><%= link_to location.name, location_path(location) %></td>
        <td><%= location.location_type %></td>
        <td><%= link_to(location.parent.name, location_path(location.parent)) if location.parent%></td>
        <td><%= location.item_type.name if location.item_type%></td>
        
        <td>
          <%= link_to 'Edit', edit_location_path(location) %>
          <%= link_to 'Add Child', new_location_path(:parent_id => location) %>
          <%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @locations %>

<%= link_to 'New Location', new_location_path %>

