<p id="notice"><%= notice %></p>

<p>
  <div id="breadcrumbs">
    <% @location.ancestors.each do |loc| %>
      <%= link_to loc.name, loc %> &gt;
    <% end %>
    <%= @location.name %>
    <b>(</b>
    <% @location.children.each do |child| %>
       <%= link_to child.name, child %> 
    <% end %>
    <b>)</b>
    - 
    <%= @location.location_type %>
    -
    <%= @location.item_type.name if @location.item_type %>
    </div>
</p> 


<b>Inventory at location </b>

<table  class="table table-striped", style="width: auto; height: auto">
  <thead>
    <tr>
      <th>Item</th>
      <th>Qty</th>
      <th>Arrival date</th>
      
    </tr>
  </thead>

  <tbody>
	<% @inventory.each do |inventory| %>
      <tr data-item-id=<%= "#{inventory.id}"%> class="item", height="10">
		  <td> <%= link_to inventory.item.name, inventory.item %></td>
		  <td> <%= inventory.qty.to_s %></td>
      <td> <%= inventory.arrival_date %></td>
		<tr>
	<% end %>	
  </tbody>
</table>
<%= will_paginate @inventory %>

<br>



<br>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
