<!DOCTYPE html>
<html>
  <head>
    <title>Koredetweb</title>
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://www.google.com/jsapi" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- BOOTSTRAP -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"> </script>
  </head>
<body>
   <%= render 'layouts/header' %>
    <div class=container>
    	<div class="row">
    		<div class="span9"><%= yield %></div>
    		<div class="span3">
    		 <p></p>
    		 </div>
    	</div>
    </div>
  <% if false %>  
    <%= render 'layouts/login_footer' %>
  <% end %>  
</body>
</html>
