<!DOCTYPE html>
<html>
  <head>
    <title>Koredetweb</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body>
   <%= render 'layouts/header' %>
    <div class=container>
    	<div class="row">
    		<div class="span9"><%= yield %></div>
    		<div class="span3">
    		 <p></p>
    		 </div>
    	</div>
    </div>
  <%= render 'layouts/login_footer' %>
</body>
</html>
