<p id="notice"><%= notice %></p>

<h2><%= @account.account_name %> </h2>
<% if policy(@account).update? %>
	<%= link_to 'Change account name',  edit_account_path(@account), method: :get %> 
<% end %>
		

<div class="container">
  	<div class="row">
	 	<div class="col-sm-6">
			<%= render 'user_accounts' %>
			<% if policy(@account).update? %>
				<%= render 'invitations' %>
			<% end %>
			<p>
			<br>
			
			</p>
		</div>
		
	    <div class="col-sm-6">

	    <% if policy(@account).update? %>
			<%= render 'get_started' %>
		<% end %>

	    <% if false %>
	    	<%= render 'data_transfer' %>
		<% end %>


	    </div>
	</div>
</div>


