<h2><%= @account.account_name %> </h2>

<p id="notice"><%= notice %></p>

<%= render 'user_accounts' %>

<% if policy(@account).update? %>
	<%= link_to 'Edit',  edit_account_path(@account) %> 
	
	<%= render 'invitations' %>

	<h3>Invite new member</h3>
	<%= form_tag(invite_member_account_path, method: "put") do %>
		<%= label_tag(:email, "Email to invite") %>
		<%= text_field_tag(:email) %>
		<%= submit_tag("Invite") %>
	<% end %>
<% end %>

<%= link_to 'Back', root_url %>


